<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.frissbi.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!--
 The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <permission
        android:name="com.frissbi.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.frissbi.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <uses-feature
        android:name="android.hardware.CAMERA"
        android:required="false" />
    <uses-feature android:name="android.hardware.bluetooth" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.TYPE_SYSTEM_ALERT" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS_PRIVILEGED" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:name=".Utility.MainApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="DATABASE"
            android:value="frissbi.db" />
        <meta-data
            android:name="VERSION"
            android:value="5" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="com.frissbi.app.models" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <!--
            <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key" />
        -->

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".activities.SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".frissbi.Privacypolicy"
            android:screenOrientation="portrait" />
        <activity
            android:name=".frissbi.GetTermsandConditions"
            android:screenOrientation="portrait" />

        <receiver
            android:name=".notifications.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="com.frissbi" />
            </intent-filter>
        </receiver>

        <service android:name=".notifications.GcmIntentService" />

        <activity
            android:name=".activities.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

        <activity
            android:name=".activities.MeetingActivity"
            android:label="LET&apos;S MEET" />
        <activity
            android:name=".activities.SelectLocationAndSaveActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.MySavedPlacesActivity"
            android:label="Saved Places" />
        <activity
            android:name=".activities.FriendsListActivity"
            android:label="Friends" />
        <activity
            android:name=".activities.AddFriendsToMeetingActivity"
            android:label="Friends" />
        <activity
            android:name=".activities.ProfileActivity"
            android:exported="true"
            android:label="My Profile"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.MeetingDetailsActivity"
            android:label="Info" />

        <receiver android:name=".Utility.ReminderAlarmReceiver" />

        <activity
            android:name=".activities.SuggestionsActivity"
            android:label="Places" />
        <activity
            android:name=".activities.MeetingCalendarActivity"
            android:label="Meetings" />
        <activity
            android:name=".activities.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.CreateGroupActivity"
            android:label="New Group" />
        <activity
            android:name=".activities.GroupsActivity"
            android:label="Groups" />
        <activity
            android:name=".activities.GroupDetailsActivity"
            android:label="Group Details" />
        <activity
            android:name=".activities.AddParticipantActivity"
            android:label="SELECT ATTENDEES" />
        <activity
            android:name=".activities.RemindersActivity"
            android:label="Reminders" />
        <activity
            android:name=".activities.UploadPhotoActivity"
            android:label="Upload Photo" />
        <activity
            android:name=".activities.CheckInLocationActivity"
            android:label="Check In" />
        <activity
            android:name=".activities.SettingsActivity"
            android:label="Settings" />
        <activity android:name=".activities.MeetingsByDateActivity" />
        <activity
            android:name=".activities.RegistrationActivity"
            android:label="New Account" />
    </application>

</manifest>